
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/AuthenticationView.cshtml";
}

@using BakPisir.CORE.Helper
@model BakPisir.DTO.Dtos.UserDto

<div class="card-body">
    <!-- Logo -->
    <div class="app-brand justify-content-center">
        <a href="index.html" class="app-brand-link gap-2">
            <img src="~/Templates/Images/loginwomanicon.svg" width="60" height="100" />
            <h1 style="color:rebeccapurple" class="mb-md-0">Bak Pişir</h1>
            <img src="~/Templates/Images/loginmanicon.svg" width="60" height="100" />
        </a>
    </div>
    <!-- /Logo -->
    <h4 class="mb-2">Şifreni mi unuttun? 🔒</h4>
    <p class="mb-4">E-postanızı girin, size şifrenizi sıfırlamak için talimatlar gönderelim</p>

    @using (Html.BeginForm("ForgotPassword", "ForgotPassword", FormMethod.Post))
    {
        <div class="mb-3">
            @Html.EMailControl(m => m.mail)
        </div>
        <div class="mb-3">
            <button class="btn btn-primary d-grid w-100" type="submit">Yeni Şifre Al</button>
        </div>

    }
    <div class="text-center">
        <a href="/SignIn/SignIn" class="d-flex align-items-center justify-content-center">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            Giriş sayfasına dön
        </a>
    </div>
</div>

@if (ViewBag.Mail != null)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire('İşleminiz Başarılı',
                '@ViewBag.Mail', 'info');
        };
    </script>
}

