
@model  List<BakPisir.DTO.Dtos.SubCategoryDto>


@foreach (var subCategory in Model)
{             
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link">
                        <span class="menu-text" style="font-size:small">@subCategory.subCategoryName</span>
                    </a>
                </li>               
                
            </ul>        

}

