
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/AdminView.cshtml";
}


@using BakPisir.CORE.Helper
@model BakPisir.DTO.Dtos.UserDto
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <h5 class="card-header">Profil Detayı</h5>
            <!-- Account -->
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                    <img src="http://localhost:44355/Uploads/UserProfile/@Model.profilePictureUrl" alt="profile_image"
                         class="d-block rounded"
                         height="100"
                         width="100"
                         id="uploadedAvatar" />

                </div>
            </div>
            <hr class="my-0" />
            <div class="card-body">

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="firstName" class="form-label">AD</label>
                        <input class="form-control"
                               type="text"
                               disabled value=@Html.DisplayFor(m =>Model.name) />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="lastName" class="form-label">SOYAD</label>
                        <input class="form-control" type="text" disabled value=@Html.DisplayFor(m =>Model.surname) />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="email" class="form-label">E-MAIL</label>
                        <input class="form-control"
                               disabled value=@Html.DisplayFor(m =>Model.mail) />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="organization" class="form-label">KULLANICI ADI</label>
                        <input type="text" class="form-control"
                               disabled value=@Html.DisplayFor(m =>Model.username) />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label" for="phoneNumber">TELEFON NO</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   class="form-control"
                                   disabled value=@Html.DisplayFor(m =>Model.phone) />
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="address" class="form-label">DOĞUM TARİHİ</label>
                        <input type="text" class="form-control" disabled value=@Html.DisplayFor(m =>Model.birthdate) />
                    </div>

                </div>

            </div>
            <!-- /Account -->
        </div>

    </div>
</div>

