
@{
    ViewBag.Title = "AdminProfileSetting";
    Layout = "~/Views/Shared/AdminView.cshtml";
}


<div class="nav-wrapper position-relative end-0">
    <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Hesap</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div>
                @Html.Action("AdmnProfileSetting", "AdminProfileSetting")
            </div>
        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <div>
                @Html.Action("AdminAccountSetting", "AdminProfileSetting")
            </div>
        </div>
    </div>
    <script>
            $('#pills-tab a').on('click', function (e) {
                e.preventDefault()
                $(this).tab('show')
            })
    </script>
</div>



