@model BakPisir.DTO.Dtos.UserDto


<div class="col-md">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-1">

                <img id="image_upload_preview" src="http://localhost:44355/Uploads/UserProfile/@Model.profilePictureUrl" alt="profile_picture" width="80" height="80" style=" border-radius:50%; margin:15px" />

            </div>
            <div class="col-md-8">
                <div class="card-body" style="font-family:'Times New Roman', Times, serif; font-size:large  ;margin-top:10px">
                    <b>@Model.name &nbsp; @Model.surname </b>  <br />
                    <b>@Model.username </b>
                </div>
            </div>
            <div class="col-md-3">
                <button  style="margin-top:40px; margin-right:10px "type="button" id="ziyaret" class="btn btn-outline-success mb-4" onclick="addRecipe()">
                    <i class="bx d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Yeni Tarif Ekle</span>

                </button>
                <script>
                    function addRecipe() {
                        window.location.href = '/UserProfile/AddRecipe/';
                    }
                </script>
            </div>
        </div>
    </div>
</div>

